{% extends "base.html" %}

{% block title %}Publications Index{% endblock %}

{% block head %}
<style>[x-order-col]{writing-mode:vertical-rl;cursor: pointer;}[x-order-col]::after{content:var(--sort-char, '')}</style>
{% endblock %}

{% block content %}
        <h1 class="my-4">Publications</h1>

        <!-- Table -->
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-light">
                <tr>
                    <th>Title</th>
                    <th>Year</th>
                    <th x-order-col="human">Human</th>
                    <th x-order-col="ai">Model</th>
                </tr>
            </thead>
            <tbody>
                {% for pub in publications %}
                <tr>
                    <td><a href="{{ url_for('publication', pub_id=pub.id) }}">{{ pub.title }}</a></td>
                    <td>{{ pub.year }}</td>
                    <td>
                        {% if pub.human_score is none %}
                            <span class="badge bg-secondary">/</span>
                        {% elif pub.human_score == 0 %}
                            <span class="badge bg-danger">{{ pub.human_score }}</span>
                        {% elif pub.human_score > 0 and pub.human_score <= 50 %}
                            <span class="badge bg-warning text-dark">{{ pub.human_score }}</span>
                        {% elif pub.human_score > 50 %}
                            <span class="badge bg-success">{{ pub.human_score }}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if pub.rating is none %}
                            <span class="badge bg-secondary">/</span>
                        {% elif pub.rating == 0 %}
                            <span class="badge bg-danger">{{ pub.rating|int }}</span>
                        {% elif pub.rating > 0 and pub.rating <= 50 %}
                            <span class="badge bg-warning text-dark">{{ pub.rating|int }}</span>
                        {% elif pub.rating > 50 %}
                            <span class="badge bg-success">{{ pub.rating|int }}</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'pagination.html' %}

    </div>
{% endblock %}

{% block scripts %}
<script>
document.querySelectorAll('[x-order-col]').forEach(x => {
    const search = new URLSearchParams(location.search)
    const order = search.get('order')
    const name = x.getAttribute('x-order-col')

    if (order == name) {
        x.style = '--sort-char: "▴"';
        //x.prepend('▴')
    } else if (order == '-' + name) {
        x.style = '--sort-char: "▾"';
        //x.prepend('▾')
    }

    x.addEventListener('click', e => {
        e.preventDefault();
        if(order == name) {
            search.set('order', '-' + name)
        } else if(order == '-' + name) {
            search.delete('order')
        } else {
            search.set('order', name)
        }
        // update query parameters
        window.location.search = '?' + search.toString()
    })
})
</script>
{% endblock %}
