{% extends "base.html" %}

{% block title %}Publications Index{% endblock %}

{% block head %}
<style>.reviewer-col{writing-mode:vertical-rl;cursor: pointer;}.reviewer-col::after{content:var(--sort-char, '')}</style>
{% endblock %}

{% block content %}
        <h1 class="my-4">Publications</h1>

        <!-- Table -->
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-light">
                <tr>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for pub in publications %}
                <tr>
                    <td><a href="{{ url_for('publication', pub_id=pub.id) }}">{{ pub.title }}</a></td>
                    <td>{{ pub.year }}</td>
                    <td>
                        {% if pub.human_score == 0 %}
                            <span class="badge bg-danger">{{ pub.human_score }}</span>
                        {% elif pub.human_score > 0 and pub.human_score <= 50 %}
                            <span class="badge bg-warning text-dark">{{ pub.human_score }}</span>
                        {% elif pub.human_score > 50 %}
                            <span class="badge bg-success">{{ pub.human_score }}</span>
                        {% else %}
                            <span class="badge bg-secondary">No review</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}

{% block scripts %}
<script>
// Bootstrap validation script
document.querySelectorAll('.needs-validation').forEach(form => {
form.addEventListener('submit', event => {
    if (!form.checkValidity()) {
    event.preventDefault()
    event.stopPropagation()
    }
    form.classList.add('was-validated')
}, false)
})
</script>
<script>
document.querySelectorAll('.reviewer-col').forEach(x => x.addEventListener('click', e => {
    e.preventDefault();
    const name = x.textContent
    const search = new URLSearchParams(location.search)
    if (!search.get('sort')) {
        search.set('sort', name)
    } else if(search.get('sort') == name) {
        search.set('sort', '-' + name)
    } else if(search.get('sort') == '-' + name) {
        search.delete('sort')
    }
    // update query parameters
    window.location.search = '?' + search.toString()
}))</script>
{% endblock %}
