{% extends "base.html" %}

{% block title %}{{ publication.title }}{% endblock %}

{% block content %}
        <h1 class="my-4">{{ publication.title }}</h1>

        <div class="mb-4">
            <h5>Rating:

            {% if publication.human_score == 0 %}
                <span class="badge bg-danger">{{ publication.human_score }}</span>
            {% elif publication.human_score > 0 and publication.human_score <= 50 %}
                <span class="badge bg-warning text-dark">{{ publication.human_score }}</span>
            {% elif publication.human_score > 50 %}
                <span class="badge bg-success">{{ publication.human_score }}</span>
            {% else %}
                <span class="badge bg-secondary">{{ publication.human_score }}</span>
            {% endif %}</h5>

            <h5>DOI:</h5>
            {% if publication.doi %}
                <p><a href="{{ publication.doi }}">{{ publication.doi }}</a></p>
            {% else %}
                <p class="text-muted">Missing DOI</p>
            {% endif %}
            <h5>Authors:</h5>
            <p>{{ publication.authors }}</p>

            <h5>Year:</h5>
            <p>{{ publication.year }}</p>

            <h5>Abstract:</h5>
            {% if publication.abstract %}
                <p>{{ publication.abstract }}</p>
            {% else %}
                <p class="text-muted">Missing Abstract</p>
            {% endif %}
        </div>

        <h2>Reviews</h2>
        {% if reviews %}
            <ul class="list-group">
            {% for r in reviews %}
                <li class="list-group-item" id="review-{{ r.id }}">
                    <strong>
                        <a href="{{ url_for('job_detail', job_id=r.job_id)}}">{{ r.name }} ({{ r.model }}):</a>
                    </strong>
                    <!-- Add color to the rating using a badge -->
                    {% if r.rating == 0 %}
                        <span class="badge bg-danger">{{ r.rating }}</span>
                    {% elif r.rating > 0 and r.rating <= 50 %}
                        <span class="badge bg-warning text-dark">{{ r.rating }}</span>
                    {% elif r.rating > 50 %}
                        <span class="badge bg-success">{{ r.rating }}</span>
                    {% else %}
                        <span class="badge bg-secondary">{{ r.rating }}</span>
                    {% endif %}
                    <br>
                    <small>{{ r.reason }}</small>
                    <br/><small class="text-muted">
                        Reviewed on 
                        {{ r.created | dt }}
                    </small>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p class="text-muted">No reviews available.</p>
        {% endif %}

        <hr/>

        <h3>Update Human Review:</h3>
        <form method="POST" action="{{ url_for('add_review', pub_id=publication.id) }}" class="mb-5">
            <div class="mb-3">
                <label for="reviewer" class="form-label">Reviewer Name</label>
                <input type="text" class="form-control" id="reviewer" name="reviewer" required value="human" disabled>
            </div>
            <div class="mb-3">
                <label for="rating" class="form-label">Rating (0–100)</label>
                <input type="number" class="form-control" id="rating" name="rating" min="0" max="100" value="{{publication.human_score}}" required>
            </div>
            <div class="mb-3">
                <label for="reason" class="form-label">Reason</label>
                <textarea class="form-control" id="reason" name="reason" rows="3">{{publication.human_reason}}</textarea>
            </div>
            <button type="submit" class="btn btn-success">Submit Review</button>
        </form>
    </div>
{% endblock %}
